*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--main-title: #1d1d1d;
	--form-label-color: #333333;
	--form-background: #e6e6e6;
	--form-color: #1d1d1d;
	--form-border-color: #696969;
	--form-background-focus: #ececec;
	--form-color-focus: #303030;
	--navbar-border-bottom: #1d1d1d;
	--navbar-color: #e3e3e3;
	--nav-link: #4a4a4a;
	--nav-link-hover: #2a2a2a;
	--nav-link-active: #121212;

	--btn-color: #fff;
	--btn-primary-bg-color: #0d6efd;
	--btn-primary-border-color: var(--btn-primary-bg-color);
	--btn-primary-bg-color-hover: #0b5ed7;
	--btn-primary-border-color-hover: #0a58ca;
	--btn-primary-bg-color-active: #0a58ca;
	--btn-primary-border-color-active: #0a53be;
}

body {
	font-family: system-ui, sans-serif;
	margin: 0;
	padding: 0 0 90px 0;
}

.navbar {
	position: fixed;
	left: 0;
	right: 0;  
	height: auto;
	background-color: var(--navbar-color);
	display: flex;
	justify-content: center;
	border-bottom: var(--navbar-border-bottom);
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

@media (min-width:768px) {
    .navbar {
        flex: 0 0 auto;
        margin-top: 0;
    }
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding: 0;
}

.nav-link {
    display: inline-block;
    padding: 12px 12px;
    font-size: 34px;
    color: var(--nav-link);
    text-decoration: none;
    line-height: 1;
    user-select: none;
}

.nav-link:hover {
	color: var(--nav-link-hover);
}

.nav-link[aria-current="page"] {
	color: var(--nav-link-active);
}

@media (max-width: 767px) {
    .nav-list {
        flex-direction: column;
        text-align: center;
    }

    .nav-link {
        padding-block: 12px;
        margin-block: 2px;
    }
}

.main-title, .login-title, .register-title {
	font-size: 36px;
	font-weight: 700;
	color: var(--main-title);
}

.login-title, .register-title {
	text-align: center;
}

.container, .form-container{
	padding: 0 10px;
	min-height: 100vh;
}

.form-container {
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

main {
	padding-top: 90px;
}

@media screen and (max-width: 767px) {
	main {
		padding-top: 308px;
	}
}

.form-field {
	padding: 16px 0px;
}

.form-label {
	display: inline-block;
	font-size: 18px;
	color: var(--form-label-color);
	margin-bottom: 0.5rem;
}

.form-control {
	display: block;
	font-size: 24px;
	background: var(--form-background);
	color: var(--form-color);
	border: 2px solid var(--form-border-color);
	border-radius: 0.4rem;
}

.form-control:focus {
	background: var(--form-background-focus);
	color: var(--form-color-focus);
}

.btn {
    display: inline-block;
    padding: 10px 36px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    line-height: 1;
    user-select: none;
	margin-right: 2px;
	color: var(--btn-color);
}

.btn-primary {
	background: var(--btn-primary-bg-color);
	border: 1px solid var(--btn-primary-border-color);
}

.btn-primary:hover {
	background: var(--btn-primary-bg-color-hover);
	border-color: var(--btn-primary-border-color-hover);
}

.btn-primary:active {
	background: var(--btn-primary-bg-color-active);
	border-color: var(--btn-primary-border-color-active);
}


